@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables


$blue : rgb(33, 206, 233)
$gray: #a7a7a7
$dark-blue :rgb(4, 9, 29)


$custom-colors: ("blue":$blue,"gray":$gray,"dark-blue":$dark-blue)
$theme-colors:map-merge($theme-colors,$custom-colors)